<%- include("../partials/nav.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= foundEquipment.title %></title>
</head>
<body>

    <h1>Edit Equipment</h1>
    
    <form action="/equipment/<%= foundEquipment._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        Title:
        <input type="text" name="title" value="<%= foundEquipment.title %>" required />
        
        Category:
        <input type="text" name="category" value="<%= foundEquipment.category %>" required />
        
        Daily Price (BHD):
        <input type="number" name="dailyPrice" min="0" value="<%= foundEquipment.dailyPrice %>" required />
        
        Description:
        <textarea name="description" required><%= foundEquipment.description %></textarea>
        
        <p>Current Image:</p>
        <img src="<%= foundEquipment.image.url %>" alt="<%= foundEquipment.title %>" width="200" />
        <br>

        Upload New Image:
        <input type="file" name="image" accept="image/*" />
        
        <button class="btn btn-danger" type="submit">Update Equipment</button>
    </form>

    <%- include("../partials/footer.ejs") %>
</body>
</html>